/*цвет*/
$color-one: #1a4344;
/*#114471, #000000*/
$color-two:#ffffff;
$color-three:#ffb0b0;
$color-arrow-widget:#828080;
$color-arrow-banner:#ffffff;
$color-border:#d6d6d6;
$color-active:#a50924;
$color-hover:#a50924; 
$color-scrollbar: #56999f;
$color-scrollbar-hover: #a50924;
$color-scrollbar-background: #ecedee;

/*шрифт*/
$font-stack:'Montserrat', sans-serif;
$font-text-one:Helvetica;
$font-text-two:roboto;
$font-weight: 700;

$border-radius: 5px;