/* Шапка */
.header{
   background-color: $color-one;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-two;
    }
    &__info-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        & h1 {
            margin: 0;
        }
    }
    &__info {
        margin-left: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 5px 10px;
        cursor: pointer;
    }
    &__logo {
        max-width: 150px;
    }    
    & a {
        color: $color-three;
        &:hover { 
            color: $color-two;  
        }
    }
}
.home-info{
    &__block {
        display: flex;
        flex-wrap: wrap;
        .key-skills {
            background: #e5e5e5;
            padding: 5px 10px;
            margin: 0 10px 10px 0;
        }
    }
    &__item {
        display: flex;
        margin-bottom: 10px;
    }
    &__title {
        font-weight: 600;
    }
    &__date {
        width: 100px;
    }
    
}

.min-image {
    width: 30px;
    cursor: zoom-in;
    margin: 0 10px 2px;
    vertical-align: middle;
}

/* Адаптация */
@media (max-width:525px){
    .header__logo {
        max-width: 50px;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .header__block {
        margin-top: 15px;
    }
}