/* Продукты */
.product__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-item {
        width: 20%;
        max-width: 260px;
        min-width: 210px;
        padding: 15px;
        margin: 10px;
        border: 1px solid $color-border;
        text-align: center;
        border-radius: $border-radius;
        position: relative;
        color: $color-one;
        & i {
            position: absolute;
            top: 5px;
            right: 6px;
            color: $color-two;
            background: $color-one;
            padding: 5px 10px;
            border-radius: 50%;
            z-index: 1;
            cursor: pointer;
            &:hover {
                background: $color-hover;
            }
        }
    }
    &-image {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &-img {
        max-height: 200px;
        max-width: 100%;
    }
    &-name {
        font-size: 20px;
        font-weight: 700;
    }
    &-price {
        font-weight: 500;
        margin-bottom: 20px;
    }
}

/* Адаптация */
@media (max-width:575px){
    .product__block-item {
        width: 100%;
        margin: 15px 0;
    }
}