/* Табы */
.tab__block{
    &-list {
    display: flex;
    padding: 0;
    margin: 0;
    color: $color-two;
    background: $color-one;
        &-item {
            list-style: none;
            padding: 15px 20px;
            cursor: pointer;
            &.active {
                background: $color-active;
            }
            &:hover {
                background: $color-hover;
            }
        }
    }
    &-items {
        padding: 20px;
        text-align: justify;
        border: 1px solid $color-border;
        border-top: none;
    }
    &-item {
        display: none;
        &.active {
            display: block;
            & img {
                max-width: 300px;
            }
        }
    }
}

/* Адаптация */
@media (max-width:575px){
    .tab__block-list {
        flex-direction: column;
    }
    .tab__block-item.active img {
        width: 100%;
    }
}