/* Блок текущие навыки на главной странице */
.my-works{
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 45%;
        padding: 10px;
        display: flex;
        color: $color-one;
        border: 1px solid $color-two;
        margin: 10px 0;
        border-radius: $border-radius;
        cursor: pointer;
        &.dis-none{
            display: none;
        }
    }
    &__image {
        width: 200px;
        text-align: center;
        & img {
            width: inherit;
        }
    }
    &__info {
        padding: 0 20px;
    }
    &__title {
        font-size: 24px;
        margin: 0 0 15px;
    }
    &__text {
        font-size: 14px;
        & a {
            font-weight: 700;
            color: $color-one;
            text-decoration: underline;
            &:hover{
                color: $color-hover;
            }
        }
    }
    &__refer {
        width: 100px;
        padding: 7px;
        background: $color-one;
        color: $color-two;
        font-size: 16px;
        font-weight: 600;
        border-radius: $border-radius;
        text-align: center;
        &:hover{
            background: $color-hover;
        }
        & a {
            color: $color-two;
            padding: 7px 10px;
        }
    }
}
.show-more {
    text-align: center;
    margin: 10px;
    &__button {
        max-width: 200px;
    }
}

/* Адаптация */
@media (max-width:1200px){
    .my-works__title {
        font-size: 20px;
    }
}
@media (max-width:991px){
    .my-works__item {
        width: 100%;
    }
}
@media (max-width:525px){
    .my-works__item {
        flex-direction: column;
        align-items: center;
    }
    .my-works__image {
        margin: 15px 0;
    }
}